/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#countdown {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 2em;
    margin-top: 10px;
}

#timer span {
    font-weight: bold;
    color: #ff0000;
}

#search-results {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000;
    width: 200px;
}

#search-results a {
    padding: 8px;
    display: block;
    text-decoration: none;
    color: black;
}

#search-results a:hover {
    background-color: #f1f1f1;
}
